<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>dogappreciationclub</title>
<meta property="og:title" content="dog appreciation club"/>

<meta name="description" content="Appreciate doggos more.">
<meta property="og:description" content="Appreciate doggos more." />

<meta property="og:url" content="http://google.com.au" />

<meta property="og:image" content="http://placehold.it/1200/630" />

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta property="og:site_name" content="dogappreciationclub"/>
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="http://placehold.it/1200/630" />
