.doggo {
	margin-bottom: 30px;

	height: auto;
	opacity: 0;

	transition: all $a-desktop-exit ease-out;

	&.-visible {
		opacity: 1;
	}

	&.-hidden {
		height: 0px;
		overflow: hidden;
	}

	.dog {
		margin-bottom: 30px;

		text-align: center;
	}

	.info {
		margin-bottom: 30px;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.main-photo {
		position: relative;

		margin: 0 auto 30px;
		width: 160px;
		height: 160px;

		overflow: hidden;

		border-radius: 50%;

		background-color: $c-black;

		> img {
			position: absolute;

			display: block;
			max-width: 220px;
			max-height: 220px;
			width: auto;
			height: auto;

			margin-left: 50%;
			margin-top: 50%;
			transform: translate(-50%, -50%);

		}
	}
}
