.button {
	display: block;

	margin: 0 auto 30px;

	line-height: normal;
	overflow: visible;
	padding: 0;

	width: 200px;
	height: 60px;

	@include f-primary-bold;
	font-size: 2rem;

	background-color: $c-light-grey;
	text-align: center;
	line-height: 60px;

	transition: all $a-desktop-enter ease-in;
	border: 0;
	// border-bottom: 3px solid $c-black;

	&:hover {
		box-shadow: $e-raised;
		// background-color: darken($c-grey, 10%);
	}

	@include grid-media($mobile) {
		transition: background-color $a-mobile-enter ease-in;
	}

	&.primary {
		color: $c-white;
		background-color: $c-primary;

		&:hover {
			background-color: $c-primary-dark;
		}
	}

	&.secondary {
		color: $c-white;
		background-color: $c-secondary;

		&:hover {
			background-color: $c-secondary-dark;
		}
	}

	&.raised {
		box-shadow: $e-raised;
	}

	&.floating {
		box-shadow: $e-floating;
	}
}

