.home .item {
	position: relative;

	overflow: hidden;
	height: 480px;

	> img {
		position: absolute;

		margin-left: 50%;
		transform: translateX(-50%);

		min-height: 100%;
		min-width: 100%;
	}
}
