{% extends "master.njk" %}

{% block content %}
	<section class="hero">
		<h1 class="title">Doggo Appreciation Club</h1>
		<h2 class="byline">You smart. You loyal. You grateful. I apprecatiate that.</h2>
	</section>
	<div class="home container">
		{% include "partials/home/doggo.njk" %}
		{% include "partials/footer.njk" %}
	</div>
{% endblock %}
